body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #d4d2d2;
    line-height: 1.6;
}

header {
    background-color: #1d2d43;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #475a75;
    text-decoration: none;
    margin: 0 15px;
}

<nav a:hover {
    text-decoration: underline;
}

header h1[
    font-style: italic;
]

main [
    color: #475a75;
    padding: 20px;
]

main img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 20px solid #1d2d43;
    border-radius: 15px;
}

footer{
    background-color: #1d2d43;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}