body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1d2d43;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:#f4f4f4;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #475a75;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

header h1 {
    font-style: italic;
}

#main {
    color: #475a75;
    transition: margin-left .5s;
    padding: 20px;
}

.main img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 20px solid #1d2d43;
    border-radius: 15px;
}

footer {
    color: #475a75;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}